.heroSection {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(34, 34, 34, 0.4)),
    url("../../assets/about/desktop/image-hero-whitecup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
}

.heroSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
  padding: 9rem 0 9rem 3.5rem;
  color: var(--clr-light-cream);
}

.heroSectionContainer h2 {
  font-size: var(--fraunces-fs-h2);
  line-height: var(--fraunces-line-height-600);
}

.heroSectionContainer p {
  font-family: var(--ff-barlow);
  font-weight: var(--fw-barlow-regular);
  font-size: 1rem;
  line-height: var(--barlow-line-height);
  color: var(--clr-light-cream);
  text-align: left;
  width: 90%;
}
