.header {
  display: flex;
  justify-content: space-between;
}

.navLinks {
  display: flex;
  gap: 2rem;
}

.navLinks li {
  font-family: var(--ff-barlow);
  font-weight: var(--fw-barlow-bold);
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 1rem;
}

.navLinks li a {
  color: var(--clr-grey);
  transition: color 0.2s ease-in;
}

.navLinks li a:hover {
  color: var(--clr-dark-blue);
}

@media (max-width: 1140px) {
  .navLinks {
    gap: 3rem;
  }
}
